
@{
    Layout = null;
}
@model _05_PersonaModificada_ASP.Models.ViewModels.clsPersonaNombreDepartamento
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <div> 
        <h1>La persona cambiada es:</h1>
        <p>@Model.nombre</p><br />
        <p>@Model.apellidos</p><br />
        <p>@Model.direccion</p><br />
        <p>@Model.telefono</p><br />
        <p>@Model.nombreDepartamento</p>
        
    </div>
</body>
</html>
