@model IEnumerable<_09_CRUD_Personas_UI.Models.ViewModels.clsPersonaNombreDepartamento>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.persona.idPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.fechaNac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persona.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreDepartamento)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.persona.idPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.fechaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persona.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreDepartamento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.persona.idPersona }) |
                @Html.ActionLink("Details", "Details", new { id = item.persona.idPersona }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.persona.idPersona })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
