@model _06_EjercicioRecopilatorio_ASP.Models.ViewModels.PersonaNombreMascota

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DatosMascota</title>
</head>
<body>
    <div> 
        <p>@Model.nombreMascota</p>
        <p>@Model.nombre</p>
        <p>@Model.apellido1</p>
        <p>@Model.apellido2</p>
        <p>@Model.direccion</p>
        <p>@Model.telefono</p>
    </div>
</body>
</html>
